[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
psycopg2-binary = "*"
flask-sqlalchemy = "*"
connexion = "*"
swagger-ui-bundle = "*"
marshmallow-enum = "*"
flask-marshmallow = {extras = ["sqlalchemy"], version = "*"}
sqlalchemy = "==2.0.1"
flask-login = "*"
flask-security-too = {extras = ["common", "fsqla"], version = "*"}
flask-migrate = "*"
gunicorn = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
black = "*"
flake8 = "*"
pytest-dotenv = "*"

[requires]
python_version = "3.8"
