[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
psycopg2-binary = "*"
flask-sqlalchemy = "*"
connexion = "*"
swagger-ui-bundle = "*"
flask-marshmallow = {extras = ["sqlalchemy"], version = "*"}
marshmallow-enum = "*"

[dev-packages]

[requires]
python_version = "3.8"
